body {
    font-family: 'Roboto', sans-serif; /* Modern font */
    background-color: #f8f9fa; /* Lighter background */
    margin: 0;
    padding: 0;
}

#app {
    max-width: 600px;
    margin: 20px auto;
    background-color: #ffffff; /* White background */
    padding: 20px;
    border-radius: 12px; /* Rounder corners */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

h1 {
    text-align: center;
    color: #333333; /* Darker text color */
    font-size: 24px; /* Slightly larger font size */
}

label {
    display: block;
    margin-bottom: 10px; /* Increased margin bottom */
    color: #555555; /* Slightly darker label color */
}

input[type="text"],
input[type="number"] {
    width: calc(100% - 20px); /* Adjusted width with more padding */
    padding: 12px; /* Increased padding */
    margin-bottom: 20px; /* More space between inputs */
    border: 1px solid #ced4da; /* Lighter border color */
    border-radius: 6px; /* Slightly rounder borders */
}

button {
    background-color: #007bff; /* Blue button */
    color: #ffffff;
    border: none;
    padding: 12px 24px; /* More padding */
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 15px; /* More space between list items */
}

#selectedTaskName {
    color: #ff4d4d; /* Red color */
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
}

#timer {
    text-align: center;
    margin-top: 30px; /* More space between timer and above elements */
}

#timerLabel {
    font-weight: bold;
    margin-bottom: 10px; /* Increased margin bottom */
    color: #555555;
    margin-top: 20px;
}

#timerDisplay {
    font-size: 42px; /* Larger font size */
    font-weight: bold;
    color: #333333;
}

#sessionStatus {
    font-style: italic;
    color: #777777; /* Slightly darker text color */
    margin-bottom: 30px; /* More space */
}

.fa-lemon {
    font-size: 28px; /* Slightly larger icon size */
    color: #ffc107; /* Yellow lemon color */
    margin-right: 8px; /* Smaller margin */
}

#addTaskButton,
#startButton,
#stopButton {
    display: block;
    margin: 30px auto; /* More space around buttons */
}

.label {
    font-weight: bold;
    color: #555555;
}

@media screen and (max-width: 600px) {
    #app {
        padding: 15px; /* Smaller padding */
    }
}
